
<div class="postsContainer">
  {{#each posts as |post| }}
  <div class="card post">
    <h3>{{post.title}}  {{post.updatedAt}}</h3>
    <div class="content hidden">
      <p>{{post.content}}</p>
      <p>- posted by {{post.user.name}} </p>
    </div>
    
    {{#each post.comments as |comment| }}
    <div class="card comment hidden">
      <p>{{comment.content}}</p>
      <p>- comment by {{comment.name}} at {{comment.updatedAt}}</p>
    </div>

    {{/each}}

  <button class="add-comment button hidden">Add Comment</button>
  </div>
  {{/each}}
  
</div>